<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gps.trajectory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomButton" >
        <activity
            android:name="gps.trajectory.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyD6v_zW9E2Jl-bBr-FeqjQlmSc39ovczuc"/>
        
        <activity android:name="gps.trajectory.Map" />
        <activity android:name="gps.trajectory.Mystory" />
        <activity android:name="gps.trajectory.Showpath" />
         <activity android:name="gps.trajectory.NoGPS" />
        <activity android:name="gps.trajectory.Tasklist"></activity>
        <activity android:name="gps.trajectory.LoginActivity"/>
        <activity android:name="gps.trajectory.RegisterActivity"
                  android:label="Register New Account"></activity>
        <activity android:name="gps.trajectory.DashboardActivity" />
        <activity android:name="gps.trajectory.About" />
             
        <service android:name="gps.trajectory.MarService"/>
        
       	<meta-data
           android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
   		
        
    </application>
    
    <permission 
        android:name="gps.trajectory.permission.MAPS_RECEIVE" 
        android:protectionLevel="signature"/>
	<uses-permission 
	    android:name="gps.trajectory.permission.MAPS_RECEIVE"/>
	
	<uses-permission android:name="android.permission.INTERNET"/> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/> 
	<!-- The following two permissions are not required to use Google Maps Android API v2, but are recommended. --> 
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>

</manifest>
